[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kyunghooh76
[access "refs/for/refs/*"]
	read = group user/kyunghooh76
	push = group user/kyunghooh76
	label-Code-Review = -2..+2 group user/kyunghooh76
	label-Verified = -1..+1 group user/kyunghooh76
	rebase = group user/kyunghooh76
	removeReviewer = group user/kyunghooh76
	submit = group user/kyunghooh76
[access "refs/heads/*"]
	read = group user/kyunghooh76
	create = group user/kyunghooh76
	push = +force group user/kyunghooh76
	pushMerge = group user/kyunghooh76
[access "refs/tags/*"]
	push = +force group user/kyunghooh76
	pushTag = group user/kyunghooh76
	pushSignedTag = group user/kyunghooh76
